<br>

<div class="list-group"
     *ngFor="let paper of paperWebList" (click)="select(paper)">
  <ul>
    <li>
      <div href="#" class="list-group-item list-group-item-action active" aria-current="true">
        {{paper.title}}
      </div>
    </li>

    <li [ngStyle]="{'display': paper==selectedPaper ? 'block' : 'none' }">
      <div class="list-group-item list-group-item-action">Subject: {{paper.subject}}</div>
    </li>

    <li [ngStyle]="{'display': paper==selectedPaper ? 'block' : 'none' }">
      <div class="list-group-item list-group-item-action">Topics: {{paper.topics}}</div>
    </li>

    <li [ngStyle]="{'display': paper==selectedPaper ? 'block' : 'none' }">
      <div class="list-group-item list-group-item-action"> Keywords: {{paper.keywords}}</div>
    </li>

    <li [ngStyle]="{'display': paper==selectedPaper ? 'block' : 'none' }">
      <div class="list-group-item list-group-item-action">
        Status: {{paper.status}}
        <button [ngStyle]="{'display': paper.status == 'ACCEPTED' ? 'block' : 'none' }"
                class="btn btn-dark"
                type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="idToReturn=selectedPaper.id; paperToSend=paper">
          Update
        </button>
      </div>
    </li>
  </ul>
</div>



<div *ngIf="!checkDate(conference.createSections)" style="display: flex ; justify-content: center">
  <button class="btn btn-dark" [disabled]="true">
    Deadline to Submit Proposals has passed
  </button>
</div>

<!-- Button trigger modal -->
<div style="display: flex; justify-content: center">

  <div *ngIf="checkDate(conference.submitProposal)">
    <button type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="idToReturn=null; paperToSend=defaultValue">

      {{buttonMessages[0]}}
    </button>
  </div>
</div>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngIf="submitted; then submitted else notsubmitted"></div>
        <ng-template #submitted>
          <h5 class="modal-title">
            Enter the Details of Your Paper
          </h5>
        </ng-template>
        <ng-template #notsubmitted>
          <h5 class="modal-title">
            Your File Has Been Submitted
          </h5>
        </ng-template>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-file-upload [currentPaper]="paperToSend"
                         [idOfPaper]="idToReturn"
                         (fileIdEvent)="uploadComplete($event)"></app-file-upload>
      </div>
    </div>
  </div>
</div>


