<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Pc Member Page for Conference #{{conference.id}}</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><button class="btn btn-dark" (click)="showBidProposal()">Bid Proposal</button></li>
      <li class="nav-item"><button class="btn btn-dark" (click)="showReviewProposal()">Review Proposal</button></li>
    </ul>
  </div>
</nav>

<div *ngIf="bidProposalShow">
  <ul class="list-group" role="tablist" *ngFor="let proposal of proposals">
    <li class="list-group-item-dark">
      {{proposal.id}}#
    </li>
  </ul>
</div>

<div *ngIf="reviewProposalShow">
  Review Proposals
</div>
