<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Chair Page for Conference #{{conference.id}}</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><button class="btn btn-dark" (click)="showInvitePanel()">Invite chairs/pc members</button></li>
      <li class="nav-item"><button class="btn btn-dark" (click)="showAssignProposalsPanel()">Assign Proposals</button></li>
      <li class="nav-item"><button class="btn btn-dark" (click)="showResolveReviewsPanel()">Resolve Reviews</button></li>
      <li class="nav-item"><button class="btn btn-dark">Create Sections</button></li>
    </ul>
  </div>
</nav>

<div *ngIf="invitePanelShow">
  <ul class="list-group" role="tablist" *ngFor="let user of users">
    <li class="list-group-item darkColoredItem" style="margin-top: 20px">
      {{user.fullName}}: {{user.email}}
      <ul class="list-group" role="tablist">
        <li class="list-group-item">
          <button *ngIf="!userRoles[user.id]?.isChair && chairInvitations[user.id] == null" (click)="inviteChair(user.id)"  class="btn btn-primary">Invite as chair</button>
          <button *ngIf="chairInvitations[user.id]?.status == 'PENDING'" class="btn btn-success" [disabled]="true">Chair Invitation Sent</button>
          <button *ngIf="chairInvitations[user.id]?.status == 'PENDING'" (click)="cancelChairInvitation(user.id)" class="btn btn-danger">Cancel Chair Invitation</button>
          <button *ngIf="userRoles[user.id]?.isChair" class="btn btn-success" [disabled]="true">Is Already Chair</button>
        </li>
        <li class="list-group-item">
          <button *ngIf="!userRoles[user.id]?.isPcMember && pcMemberInvitations[user.id] == null" (click)="invitePcMember(user.id)" class="btn btn-primary">Invite as pc member</button>
          <button *ngIf="pcMemberInvitations[user.id]?.status == 'PENDING'" class="btn btn-success" [disabled]="true">Pc Member Invitation Sent</button>
          <button *ngIf="pcMemberInvitations[user.id]?.status == 'PENDING'" (click)="cancelPcMemberInvitation(user.id)" class="btn btn-danger">Cancel Pc Member Invitation</button>
          <button *ngIf="userRoles[user.id]?.isPcMember" class="btn btn-success" [disabled]="true">Is Already Pc Member</button>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf="assignProposalsShow">
  <ul class="list-group" role="tablist" *ngFor="let proposal of proposals">
    <li class="list-group-item darkColoredItem" style="margin-top: 20px">
      #{{papers[proposal?.paperId]?.id}} - {{papers[proposal?.paperId]?.title}}
        <ul class="list-group">
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  ACCEPT
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let user of acceptedUsers[proposal.id]">
                      {{user.fullName}}: {{user.email}}
                      <button *ngIf="!reviewExists(user, reviews[proposal.id])" class="btn btn-dark" (click)="setCurrentProposalAndUser(proposal, user)" data-bs-target="#assignProposalModal" data-bs-toggle="modal">Assign Proposal</button>
                      <button *ngIf="reviewExists(user, reviews[proposal.id])" class="btn btn-dark" [disabled]="true">Proposal Already Assigned</button>
                    </li>
                  </ul>
                </div>
                <div class="col-sm">
                  REJECT
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let user of rejectedUsers[proposal.id]">
                      {{user.fullName}}: {{user.email}}
                      <button *ngIf="!reviewExists(user, reviews[proposal.id])" class="btn btn-dark" (click)="setCurrentProposalAndUser(proposal, user)" data-bs-target="#assignProposalModal" data-bs-toggle="modal">Assign Proposal</button>
                      <button *ngIf="reviewExists(user, reviews[proposal.id])" class="btn btn-dark" [disabled]="true">Proposal Already Assigned</button>
                    </li>
                  </ul>
                </div>
                <div class="col-sm">
                  UGH
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let user of ughUsers[proposal.id]">
                      {{user.fullName}}: {{user.email}}
                      <button *ngIf="!reviewExists(user, reviews[proposal.id])" class="btn btn-dark" (click)="setCurrentProposalAndUser(proposal, user)" data-bs-target="#assignProposalModal" data-bs-toggle="modal">Assign Proposal</button>
                      <button *ngIf="reviewExists(user, reviews[proposal.id])" class="btn btn-dark" [disabled]="true">Proposal Already Assigned</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </li>
  </ul>

  <div class="modal fade" id="assignProposalModal" tabindex="-1" role="dialog" aria-labelledby="assignProposalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="assignProposalModalLabel">Assign Proposal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Assign proposal {{currentProposal?.id}} to user {{currentUser?.fullName}}?</label>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" (click)="assignProposal(currentProposal, currentUser)" data-bs-dismiss="modal" class="btn btn-danger">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resolveReviewsShow">
  <ul class="list-group" role="tablist" *ngFor="let proposal of proposals">
    <li *ngIf="pendingForChair[proposal.id]?.length > 0" class="list-group-item darkColoredItem" style="margin-top: 20px">
      #{{papers[proposal?.paperId]?.id}} - {{papers[proposal?.paperId]?.title}}
      <ul class="list-group" *ngFor="let review of pendingForChair[proposal.id]">
        <li class="list-group-item">
          Score: {{review.score}} ----
          Reviewer: {{review.userId}} ----
          Notes: {{review.notes}}
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <button *ngIf="pendingForChair[proposal.id]?.length >= 3 && !proposal.commentsAllowed" (click)="autoReview(proposal)" class="btn btn-dark">Auto-Review</button>
          <button *ngIf="pendingForChair[proposal.id]?.length < 3" class="btn btn-dark" (click)="setCurrentProposal(proposal)" data-bs-target="#manualReviewModal" data-bs-toggle="modal">Manual Review</button>
          <button hidden="hidden" class="btn btn-dark" id="manual-review-button" (click)="setCurrentProposal(proposal)" data-bs-target="#manualReviewModal" data-bs-toggle="modal">Manual Review</button>
          <button class="btn btn-dark" id="contradictory-button" hidden="hidden" (click)="setCurrentProposal(proposal)" data-bs-target="#contradictoryModal" data-bs-toggle="modal">Contradictory</button>
          <button *ngIf="proposal.commentsAllowed" [disabled]="proposal.comments.length <= 0" class="btn btn-dark" (click)="setCurrentProposal(proposal)" data-bs-target="#manualReviewModal" data-bs-toggle="modal">Review Based on comments</button>
        </li>
      </ul>

      <div *ngIf="proposal?.commentsAllowed">
        <div class="list-group-item">All comments: </div>
        <ul class="list-group" role="tablist" *ngFor="let comment of proposal?.comments">
          <li class="list-group-item" style="margin-left: 20px">
            {{comment.content}} --- User: {{comment.userName}}
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <div class="modal fade" id="manualReviewModal" tabindex="-1" role="dialog" aria-labelledby="manualReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="manualReviewModalLabel">Manually Review Proposal {{currentProposal?.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #reviewProposal="ngForm">
            <div class="form-group">
              <label for="status">Accept/Reject proposal</label>
              <select ngModel name="status" id="status" class="form-control">
                <option value="ACCEPTED">Accept</option>
                <option value="REJECTED">Reject</option>
              </select>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="manualReview(reviewProposal)" data-bs-dismiss="modal" class="btn btn-danger">Review</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="contradictoryModal" tabindex="-1" role="dialog" aria-labelledby="contradictoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contradictoryModalLabel">Contradictory Proposal {{currentProposal?.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #contradictoryForm="ngForm">
            <div class="form-group">
              <label for="manner">Proposal reviews are contradictory, choose what you want to do:</label>
              <select ngModel name="manner" id="manner" class="form-control">
                <option value="MANUAL">Manual review</option>
                <option value="PC_MEMBERS_DISCUSSION">Let the reviewers discuss, then decide based on their comments</option>
                <option value="ASSIGN_NEW_PC_MEMBERS">Assign new reviewers</option>
              </select>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="contradictoryReview(contradictoryForm)" data-bs-dismiss="modal" class="btn btn-danger">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
