<div class="login-container text-c animated flipInX">
  <h3>Register</h3>
  <p>{{test}}</p>
  <div class="container-content">
    <form [formGroup]="registerForm" (ngSubmit)="attemptRegistration()">
    <div class="margin-t">
      <div class="form-group">
        <input [class.is-invalid] = "registerForm.get('emailInput').invalid && registerForm.get('emailInput').touched"
               type="email" class="form-control" formControlName="emailInput" placeholder="E-Mail" />
      </div>

          <div *ngIf="(emailInput.invalid && emailInput.touched) || emailInput.dirty">
            <small *ngIf="emailInput.errors?.required" class="text-danger">An email is required</small>
            <small *ngIf="emailInput.errors?.pattern" class="text-danger">Please provide a valid email address</small>
          </div>

      <div class="form-group">
        <input [class.is-invalid] = "registerForm.get('fullName').invalid && registerForm.get('fullName').touched"
               type="text" class="form-control" formControlName="fullName" placeholder="Full name" />
      </div>

        <div *ngIf="(fullName.invalid && fullName.touched) || fullName.dirty">
          <small *ngIf="fullName.errors?.required" class="text-danger">A full name is required</small>
        </div>

      <div class="form-group">
        <input [class.is-invalid] = "registerForm.get('firstPasswordInput').invalid && registerForm.get('firstPasswordInput').touched"
               type="password" class="form-control" formControlName="firstPasswordInput" placeholder="Password" />
      </div>

        <div *ngIf="(firstPassword.invalid && firstPassword.touched) || firstPassword.dirty">
          <small *ngIf="firstPassword.errors?.required" class="text-danger">A password is required</small>
          <small *ngIf="firstPassword.errors?.pattern" class="text-danger">The passwords needs to be at least 8 characters long</small>
        </div>

      <div class="form-group">
        <input [class.is-invalid] = "registerForm.get('secondPasswordInput').invalid && registerForm.get('secondPasswordInput').touched"
               type="password" class="form-control" formControlName="secondPasswordInput" placeholder="Rewrite password" />
      </div>

        <div *ngIf="(secondPassword.invalid && secondPassword.touched) || secondPassword.dirty">
          <small *ngIf="secondPassword.errors?.required" class="text-danger">A password is required</small>
          <small *ngIf="secondPassword.errors?.pattern" class="text-danger">The passwords needs to be at least 8 characters long</small>
        </div>
      <button class="form-button button-l margin-b" type="submit">Sign up</button>
    </div>
    </form>
  </div>
</div>

<div *ngIf="invalidInput == true">
  <h4 class="red-alert">The passwords do not match.</h4>
</div>

<div *ngIf="successfulRegister == 'success'">
  <h4 class="red-alert" style="color: forestgreen;">Successful register!.</h4>
</div>

<div *ngIf="successfulRegister == 'fail'">
  <h4 class="red-alert" style="color: forestgreen;">Register failed. Try again.</h4>
</div>
