<div *ngIf="localStorage.getItem('current-user').length > 0; else notLoggedIn">
  <div style="padding-left: 5vw">
    <h3>Hello {{listenerName}} !</h3>
    <h4>Would you like to purchase a reservation for {{conferenceName}} ?</h4>
    <button (click)="okei($event)" type="button">Purchase</button>
    <div *ngIf="reservationFee != ''">
      <h5>Reservation fee: {{reservationFee}}</h5>
    </div>
    <h6>{{purchaseDone}}</h6>
  </div>
</div>
<ng-template #notLoggedIn><h1 style="padding-left: 5vw">ERROR: You are not logged in!</h1></ng-template>
